<div class="col-sm-4">
    <img class="thumbnail" src="@Model.Image" />
    <p>Name: @Model.Name</p>
    <p>Weight, kg: @Model.Weight</p>
    <p>Price: @Model.Price.ToString("C")</p>
    <p><a class="btn btn-warning" href="#">Info</a></p>
</div>

